
:root {
    --font-color: #1E1E1E;
    --primary-color-font: #9B9B9B;
    --secondary-color-font: #000;
    --bg-color: #FFF;
    --pink: #FFE3E3;
    --moon: #9B9B9B;
    --sun: #FFF;
    --disabled-color: #E6E6E6;
}

[data-theme="dark"] {
    --font-color: #CBCBD4;
    --primary-color-font: #818181;
    --secondary-color-font: #818CAB;
    --bg-color: #1A1A1F;
    --pink: #494E5C;
    --moon: #1A1A1F;
    --sun: #9B9B9B;
    --disabled-color: #494E5C;
}

.theme-switch-box {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin-right: 25px;
  }
  
  .theme-switch input {
    display: none;
  }

  
.icons {
    margin-top: 5px;
    display: flex;
    border: 1px solid var(--primary-color-font);
    border-radius: 35px;
    width: 85px;
    cursor: pointer;
  }
  
  .fa-moon,
  .fa-sun {
    font-size: 30px;
    padding: 5px;
  }
  
  .fa-moon {
    color: var(--moon);
  }
  
  .fa-sun {
    color: var(--sun);
  }
  
  