* {
  box-sizing: border-box;
}

:root {
  --font-color: #1e1e1e;
  --primary-color-font: #9b9b9b;
  --secondary-color-font: #000;
  --bg-color: #fff;
  --pink: #ffe3e3;
  --moon: #9b9b9b;
  --sun: #fff;
  --disabled-color: #e6e6e6;
}

[data-theme="dark"] {
  --font-color: #cbcbd4;
  --primary-color-font: #818181;
  --secondary-color-font: #818cab;
  --bg-color: #1a1a1f;
  --pink: #494e5c;
  --moon: #1a1a1f;
  --sun: #9b9b9b;
  --disabled-color: #494e5c;
}

body {
  background-color: var(--bg-color);
}